
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="th">
<head>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/startbootstrap/dist/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/startbootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <style>
        body {
            font-family: 'Kanit', sans-serif;
        }
    </style>

</head>
<body>

    <div class="jumbotron text-center">

        <h1>มหาวิทยาลัยแม่โจ้-แพร่ เฉลิมพระเกียรติ</h1>
        <h2>ระบบสารสนเทศเพื่อการจัดการค่าไฟหอพักนักศึกษา</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <center><h4>เข้าสู่ระบบ</h4></center>
                    </div>
                    <div class="panel-body">                        
                        <p>ระบบจะทำการเชื่อมต่อเข้ากับ Microsoft Office 365</p>
                        <p>Username : mju6108xxxxxx@office365.mju.ac.th</p>
                        <p>Password : dd/mm/yyyy (วันเกิด/เดือนเกิด/ปีการศึกษาที่เข้าเรียน)</p>                        
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-lg btn-block">เข้าสู่ระบบ</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>

    <script src="~/Content/startbootstrap/dist/js/sb-admin-2.min.js"></script>
    <script src="~/Content/startbootstrap/vendor/metisMenu/metisMenu.min.js"></script>
</body>
</html>